<div class="products"> 
  <h2>Orders</h2>
 </div>
 <div class="productsearch">
    <%= form_with(url: admin_orders_path, method: :get) do |f| %>
      <%= f.text_field :query, class: 'input' %>
      <%= f.submit 'Search', class: 'btn btn-light'%>
    <% end %>
</div> 

<table class="table table-striped">
  <thead class="first-row">
    <tr>
      <th scope="col" class="links"><%= sortable 'id'%></th>
      <th scope="col" class="col-width links"> <%= sortable 'username'%></th>
      <th scope="col" class="links"> <%= sortable 'email' %></th>
      <th scope="col" class="links"><%= sortable 'phone'%></th>
      <th scope="col" class="links"><%= sortable 'final_price'%></th>
      <th scope="col" class="Action">Actions</th>
    </tr>
  </thead>
  <% @orders.each do |order| %>
    <tbody>
      <tr>
        <th scope="row"><%=order.user.id%></th>
        <td><%=order.user.username %></td>
        <td><%=order.user.email %></td>
        <td><%=order.user.phone %></td>
        <td><%=order.final_price %>$</td>
        <td>
          <%= link_to "Show details", admin_order_path(order), class: "btn btn-primary" %>    
        </td>      
      </tr>
    </tbody>
  <% end %>
</table>
