<div class="jumbotron">
  <%= form_for @user, url: checkouts_path,remote: true do |f| %>
  
    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :firstname, autofocus: true, class: "form-control", autocomplete: "first_name" %>
    </div>

    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :lastname, autofocus: true, class: "form-control", autocomplete: "last_name" %>
    </div>

    <div class="field">
      <%= f.label :country %><br />
      <%= f.text_field :country, autofocus: true, class: "form-control", autocomplete: "country" %>
    </div>

    <div class="field">
      <%= f.label :user_name %><br />
      <%= f.text_field :username, autofocus: true, class: "form-control"%>
    </div>

    <select name="city">
    </select>

    <div class="actions">
      <%= f.submit "Update User", class: "btn btn-primary margin-top button" %>
    </div>

  <% end %>

  <%= link_to 'Back', users_path , class: "btn btn-dark margin-top"  %>
</div>
