<%= render 'admin/users/navbar' %>
<div class="jumbotron">

  <%= form_for @product, url: admin_product_path, method: "put" do |f| %>
  
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, autofocus: true, class: "form-control", autocomplete: "title" %>
    </div>

    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_field :description, autofocus: true, class: "form-control", autocomplete: "description" %>
    </div>

    <div class="field">
      <%= f.label :status %><br />
      <%= f.text_field :status, autofocus: true, class: "form-control", autocomplete: "status" %>
    </div>

    <div class="field">
      <%= f.label :price %><br />
      <%= f.text_field :price, autofocus: true, class: "form-control"%>
    </div>

    <div class="actions">
      <%= f.submit "Update User", class: "btn btn-warning margin-top button" %>
    </div>

  <% end %>

  <%= link_to 'Back', admin_products_path , class: "btn btn-dark margin-top"  %>

</div>
