<div class="jumbotron jumbotron-fluid">
  <div class="container ShowContainer">
    
    <h3>Title:</h3>
    <p><%=@product.title %></p>

    <h3>Price:</h3>
    <p><%=@product.price %></p>

    <h3>Description:</h3>
    <p><%=@product.description %></p>

    <h3>Status:</h3>
    <p><%=@product.status %></p>

    <%= link_to 'Back', admin_products_path , class: "btn btn-dark margin-top"  %>
    <%= link_to "Edit Product", edit_admin_product_path(@product), class: "btn btn-success margin-top" %>
 
  </div>
</div>
