<h1><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></h1>
<h1 class="brentmark">Users of Brentmark</h1>
<div class="table1">
  <div class="search">
    <%= label_tag(:query, "Search for:") %>
    <%= text_field_tag(:query) %>
    <%= submit_tag("Search") %>
  </div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tbody>
        <tr>
          <th scope="row"><%= user.id%></th>
          <td><%= user.firstname%></td>
          <td><%= user.lastname%></td>
          <td><%= user.username%></td>
          <td><%= user.email%></td>
          <td>
            <%= button_to "Delete", admin_user_path(user), data: {confirm: "Are You Sure?"}, method: :delete, class: "btn btn-danger" %>
          </td>
          <td> <%= link_to "Edit Post", edit_admin_user_path(user), class: "btn btn-success" %></td>
          <td> <%= link_to "Show User", admin_user_path(user), class: "btn btn-primary" %></td>  
          </tr>      
      </tbody>
    <% end %>
  </table>
  
   <h3>Download File</h3>
   <%= link_to "Download CSV", admin_users_path(format: "csv"), class: "btn btn-primary"%>

  <%= will_paginate @users %>
 </div>
