<h1> Add a new User</h1>

<%= form_with model: @user, url: admin_users_path do |f| %>

  <%= f.label :role%><br>
  <%= f.text_field :role %> <br>

  <%= f.label :firstname%><br>
  <%= f.text_field :firstname%> <br>

  <%= f.label :lastname%><br>
  <%= f.text_field :lastname%> <br>

  <%= f.label :email%><br>
  <%= f.email_field :email%> <br>

  <%= f.submit %>

<% end %>

