<div class="products_cart">

  <div class="card-group">
    <% @products.each do |prod| %>
      <div class="card" style="width: 14rem;">
        <div> 
          <%= image_tag prod.main_images.first, class: "card-img-top"  %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%=prod.title%></h5>
          <p class="card-text"><%=prod.price%>$</p>
          <%= link_to "Add To Cart", cart_items_path(product_id: prod), method: :post, class: "btn btn-primary" %>    
          <%= link_to "Details", product_path(prod), class: "btn btn-primary cart" %>    
        </div>
      </div>
    <% end %>
  </div>
</div>
